$color: peachpuff;
$lightblue: #FAFAFF;
$blue: #20A4F3;
$darkblue: #190B28;
$black: #181F1C;
$green: #598B2C;
$red: #EB5160;

*{
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: $darkblue;
}

body{
  background: $lightblue;
  margin: 0;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: $darkblue;
  color: $lightblue;
  font-size: 15px;
}

p{
  text-align: center;
  color: $lightblue;
  background: $darkblue;
  margin: 0;
  margin-top: 10px;
  padding: 10px 0 10px 0;
}

header{
  h1 {
    color: $lightblue;
    background: $darkblue;
    margin: 0;
    padding: 20px;
  }
  nav{
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  .instructions{
    p{
      background: $lightblue;
      color: $darkblue;
      margin-top: 0;
    }
  }
}

.game-board {
  display: flex;
  position: relative;
  justify-content: space-around;
  &.winner{
    animation: shakeGame 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .player-area{
    div.player-input-area {
      display: flex;
      .selectors{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        button{
          margin-left: 10px;
        }
      }
    }
  }
  .overlay{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(25,11,40,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 1s linear;
    .text-box{
      width: auto;
      height: auto;
      background: $darkblue;
      z-index: 20;
      opacity: 1;
      color: $lightblue;
      display: flex;
      justify-content: center;
      align-items: center;
      h2{
        color: $lightblue;
        margin: 50px;
      }
    }
  }
}

.player-board >div.hover{
  background: $lightblue;
}

.computer-board {
  cursor: cell;
}

.computer-board >div.boat{
  // background: #bbb;
  background: $blue;
}

.player-board >div.boat{
  background: #bbb;
}

.computer-board, .player-board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  > div {
    width: 10%;
    height: 10%;
    background: $blue;
    border: $lightblue 1px solid;
  }
  div.hit{
    background: $red;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  div.miss{
    background: #eee;
  }
  div.sunk{
    background: $darkblue;
  }
}

.boat-type {
  flex-grow: 1;
  &.selected-boat{
    background: $darkblue;
    transition: background 1s;
    .label{
      color: $lightblue;
      transition: background 1s;
    }
  }
  &.placed{
    background: $darkblue;
    opacity: 0.3;
    transition: all 1s;
    .label{
      color: $lightblue;
      transition: background 1s;
    }
  }
}
.label{
  display: flex;
  justify-content: center;
  align-items: center;
  // cursor: default;
}
.image{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    width: 15px;
    height: 15px;
    background: $darkblue;
    border: $lightblue 1px solid;
  }
}

.computer-ships {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  div {
    height: 50px;
    width: 100px;
    display:flex;
    flex-direction: column;
    .image{
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 15px;
        height: 15px;
        background: black;
        border: $lightblue 1px solid;
      }
    }
  }
  div.sunk {
    background: $green;
    transition: background 2s;
    .label{
      color: $lightblue;
      transition: color 2s;

    }
    .image {
      div {
        background: $green;
      }
    }
  }
}

.boat-cats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  > div {
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .sunk {
    background: $red;
    opacity: 1;
    .image{
      div{
        background: $red;
      }
    }
  }
}

// used to give an alert to player
.important{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.prompt-in-play, .computer-ships{
  cursor: default;
}

.boat-cats > div, {
  cursor: grab;
}

.player-board{
  cursor: grabbing;
}

// .pulse {
//
//   cursor: pointer;
//   box-shadow: 0 0 0 rgba(25,11,4, 0.4);
//   animation: pulse 2s infinite;
// }

footer{
  margin-top: 80px;
  p{
    text-align: right;
    font-family: 'Roboto Slab', serif;
    padding-right: 30px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes shakeGame {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(25,11,4, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(25,11,4, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(25,11,4, 0);
  }
}
